/*main*/
main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.7fr 1fr ;
}
.section_front{
  grid-row: 1/2;
  margin-top: 30px;
}
#bokse{
  grid-row: 3/4;
}
/*skrifter*/
/*------------------------h1------------------*/
.name {
  font-family:  'Abril Fatface', cursive;
  font-size: clamp(5rem, 7vw, 10rem);
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #9e9a92;
}

.skrifter {
 
 justify-content: center;
   row-gap: 5px;
}
.port_overskrift {
  font-family: 'Abril Fatface', cursive;
  font-size: clamp(3rem, 5vw, 4.5rem);
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #9e9a92;
}

.text {
  font-family: 'Abril Fatface', cursive;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #9e9a92;
}

#bokse .grid_container{
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: center;
    place-content: center;
}

#bokse .grid_container a{
text-decoration: none;
color: white;
font-size: 1.5rem;

}

.boks_1,
.boks_2{
 background-color:#5E544C ;
padding:10px;
text-decoration: none;
width: 200px;
text-align: center;
border-radius: 25px ;

}
#bokse a:hover{
  color: #c7b2a2;
}
