/*------------------------------------generelt----------------------------------------*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  scroll-behavior: smooth;
}
main{
  margin: 15px;
}
@media (min-width: 600px){
  main{
  margin: 50px;
}
}

/*------------------------------------generelt slut ----------------------------------------*/
/*------------------------------------Logo ----------------------------------------*/
.logo {
  font-size: 1.1rem;
  cursor: pointer;
  color: #c7b2a2;
  text-decoration: none;
}
/*------------------------------------Logo slut ----------------------------------------*/
/*------------------------------------Menu----------------------------------------*/
/* header */
.banner {
  background: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
}
nav a {
    text-decoration: none;
    color: #c7b2a2;
}
nav ul {
    place-content: end;
    gap: 20px;
}
/* burgermenu */
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #c7b2a2;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #c7b2a2;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    gap: 20px;
  }
  nav a {
    text-decoration: none;
    color: #c7b2a2;
  }
  .logobox {
    display: flex;
    align-items: center;
  }
}
/*------------------------------------Menu slut----------------------------------------*/
/*------------------------------------Footer----------------------------------------*/
.footer_mail a{
 text-decoration: none;
 color: #c7b2a2;
}

footer{
  
  border-top:2px solid#c7b2a2 ;
  
  
}
.footer_info{
  display: flex;
  /*grid-template-columns: 1fr 1fr;*/
  gap: 60px;
  justify-content: center;
  padding-top: 20px ;
  padding-bottom: 5px;
}
@media (min-width: 500px) {
  .footer_info{
     justify-content:space-evenly;
  }
  header nav a{
font-size: 1.5rem;
}
footer li{
  
  font-size: 1.5rem;
  
}
}
footer p{
  color: #c7b2a2;
  font-size: 1rem;
  
  
}
footer li{
  list-style: none;
  color: #c7b2a2;
  font-size: 1rem;
  
}

/*------------------------------------Footer slut----------------------------------------*/
/*------------------------------------Overskrifter----------------------------------------*/
/*h1,
h2,
h3{
  font-family: 'Be Vietnam Pro', sans-serif;
}
h2,
h3{
  color:#ac927e;
}
h2{
font-size: clamp(1.5rem, 5vw, 2rem);
}
h3{
font-size: clamp(1.1rem, 5vw, 1.5rem)
}*/


h1{
  font-family: 'Abril Fatface', cursive;
  font-size: clamp(3.2rem, 5vw, 8rem);
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #9e9a92;
}

h2,
h3{
color: #a19083;

}
h2{
  font-size: clamp(2rem, 7vw, 2.5rem);
  text-align: center;
}
h3{
  font-size: clamp(1.5rem, 3vw, 2rem);
}
p{
  font-family: 'Noto Serif JP', serif;
   font-size: clamp(1rem, 3vw, 1.1rem);
   text-align: justify;
 
}
footer a{
  font-size: 1.5rem;
}
header nav a{
font-size: 1rem;
}
/*------------------------------------Overskrifter slut----------------------------------------*/
/*------------------------------------Brødtekst----------------------------------------*/
/*------------------------------------Brødtekst slut----------------------------------------*/
