/*------------------------------------generelt----------------------------------------*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  scroll-behavior: smooth;
}
main{
  margin-left: 15px;
   margin-right: 15px;
}
@media (min-width: 600px){
  main{
  margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
}
}


/*------------------------------------generelt slut ----------------------------------------*/
/*------------------------------------Logo ----------------------------------------*/
.logo {
  font-size: 1.1rem;
  cursor: pointer;
  color: #5E544C;
  text-decoration: none;
}

/*------------------------------------Logo slut ----------------------------------------*/
/*------------------------------------Menu----------------------------------------*/
/* header */
.banner {
  background: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
}
nav a {
    text-decoration: none;
    color: #5E544C;
    
}
nav ul {
    place-content: end;
    gap: 20px;
}
/* burgermenu */
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #5E544C;
  }
 
  /*----- menu fjernes-------------*/
  nav {
    display: none;
  }
  /*-------liste punkter vises--------*/
  nav.shown {
    border-top: 1px solid #5E544C;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
  nav ul {
    gap: 20px;
  }
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
   
  }
 
  .logobox {
    display: flex;
    align-items: center;
  }
}
.logobox img {
  width: clamp(20px, 100%, 40px);
}
/*------------------------------------Menu slut----------------------------------------*/
/*------------------------------------Footer----------------------------------------*/
footer a{
 text-decoration: none;
 color: #5E544C;
 
}

footer{
  
  border-top:2px solid#5E544C;
  
  
}
.footer_info{
  display: flex;
  gap: 60px;
  padding: 20px;
 
}
@media (min-width: 500px) {
  .footer_info{
     justify-content:space-evenly;
  }

footer li{
  /*font-size: 1rem;*/
  
}
}

footer li{
  list-style: none;
  color: #5E544C;
  
  
}

.f_p{
  color: #5E544C;
  font-size: clamp(1rem, 3vw, 1.1rem);
 font-family: 'Frank Ruhl Libre', serif;
}
/*------------------------------------Footer slut----------------------------------------*/
/*------------------------------------Overskrifter----------------------------------------*/



h1{
  font-family: 'Abril Fatface', cursive;
  font-size: clamp(3.2rem, 5vw, 8rem);
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #5E544C;
}

h2,
h3{
color: #a19083;
font-family: 'Abril Fatface', cursive;

}
h2{
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  text-align: center;
}
h3{
  font-size: clamp(1.5rem, 3vw, 2rem);
}
h4{
  color: #5E544C;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.1rem;

}
p{
 font-family: 'Frank Ruhl Libre', serif;
   font-size: 1.2rem/*clamp(1rem, 2vw, 1rem*/;
   text-align: justify;
   
 
}

a:hover{
  color: #A19083;
}

a{
  text-decoration: none;
  font-family: 'Frank Ruhl Libre', serif;
}
header nav a{
font-size: 1.1rem;
}

.doku_link1,
.doku_link2,
.doku_link3,
.doku_link4,
.doku_link5,
.doku_link6,
.doku_link7,
.doku_link8,
.doku_link9{
  background-color: #5E544C;
  padding: 10px;
  text-decoration: none;
  width: 180px;
  text-align: center;
  border-radius: 30px;
}
/*------------------------------------Overskrifter slut----------------------------------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom:110px; /* Place the button at the bottom of the page */
  right: 8px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#5E544C ; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 1.2rem; /* Increase font size */
}

#myBtn:hover {
  background-color:#A19083; /* Add a dark-grey background on hover */
}

