

.mapper{
  display: grid;
    gap: 50px;
    place-content: center;
    padding-top: 50px;
}
.mappe{
background-color:#5E544C ;
padding:10px;
text-decoration: none;
width: 300px;
text-align: center;
border-radius: 25px ;
  
}
 .mapper a{
   text-decoration: none;
  color: white;
  font-size:1.5rem;
 }

@media (min-width: 1000px) {
 .mapper{ 
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 140px;
}

}
