.mapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:10px ;
  justify-items: center;
}
.mappe {
  width: 80%;
}

.pro_over {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 3px 8px #ced0d3;
}
@media (min-width: 600px) {
  .mapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
  .mappe {
  width: 60%;
}
}
